$debugModeOn: false;

//## General Colors
$lightGrayColor: #DEE7E7;
$mediumGrayColor: #8E999E;
$darkGrayColor: #373D40;
$textColor: $darkGrayColor;
$white: #FFF;

$primaryColor: #D8597F;
$secondaryColor: #7D64FF;//#19CFC7;

//## Dimensions
$globalBaseMargin: 1.5rem;

$z-indexes: (
    "outdated-browser",
    "modal",
    "info-overlay",
    "bar",
    "content",
    "wrapper",
);

//## Breakpoints
$breakpoints: (
	extra-small : 320px,
  	small : 540px,
	medium: 768px,
	large : 1100px,
);

//## Typography
$primaryFontNameString: "qanelassoft";

$primaryFont: $primaryFontNameString, sans-serif;

$code-font-sizes: (
  null  : (14px, 1.4),
  small : 15px,
  medium: (16px, 1.5),
  large : (16px, 1.55),
);

$p-font-sizes: (
  null  : (16px, 1.4),
  small : 18px,
  medium: (19px, 1.5),
  large : (20px, 1.55),
);

$h1-font-sizes: (
  null  : (30px, 1.4),
  small : 32px,
  medium: 34px,
  large : 36px,
);

$h2-font-sizes: (
  null  : (28px, 1.4),
  small : 30px,
  medium: 32px,
  large : 34px,
);

$h3-font-sizes: (
  null  : (26px, 1.4),
  small : 28px,
  medium: 30px,
  large : 32px,
);

$h4-font-sizes: (
  null  : (24px, 1.4),
  small : 26px,
  medium: 28px,
  large : 30px,
);

$h5-font-sizes: (
  null  : 22px,
  small : 24px,
  medium: 26px,
  large : 28px,
);

$h6-font-sizes: (
  null  : 20px,
  small : 22px,
  medium: 24px,
  large : 26px,
);

$default-easing: cubic-bezier(0.13, 0.85, 0.75, 0.96); //cubic-bezier(.56,.09,.66,.98);